.checkout {
  display: grid;
  padding: 20px;
  height: max-content;
  color: white;
}
.checkout__left {
  background-color: white;
  color: black;
}
.checkout__right {
  padding-top: 5px;
  background-color: #f6b656;
  color: black;
}
.checkout__title {
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}
