.checkout {
  display: grid;
  padding: 20px;
  height: max-content;
  color: white;
}
.checkout__left{
  background-color: white;
  color: black;
}
.checkout__right {
  color: black;
}
.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}
