.home {
  display: flex;
  justify-content: center;
  margin: 0;
  max-width: auto;
}
.home__image {
  width: 100%;
  z-index: -2;
  object-fit: cover;
  object-position: top;
  max-height: 380px;
  margin-bottom: -200px;
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0, 1), rgba(0, 0, 0, 0.2));
}
.home__row {
  display: flex;
  align-items: center;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.filter_shoes {
  margin-left: 440px;
}

.brandShoes {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin-top: 15px;
  margin-left: 20px;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.brandShoes:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}
