.home {
  display: flex;
  justify-content: center;
  margin: 0;
  max-width: auto;
}
.home__image {
  width: 100%;
  z-index: -2;
  object-fit: cover;
  object-position: top;
  max-height: 380px;
  margin-bottom: -200px;
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0, 1), rgba(0, 0, 0, 0.2));
}
.home__row {
  display: flex;
  align-items: center;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}
/* mobile */
@media only screen and (max-width: 600px) {
  .home__row {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 80rem) {
  .home__row {
    margin: 2em 5em;
    margin-right: 80px;
  }
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  --background: black;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: 0.5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #fff000;
  background: var(--background);
  transition: 0.5s;
}

input:checked + .slider {
  background-color: white;
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px rgba(0, 0, 0, 0.61);
}

.float {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 2;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 50px;
  background-color: #00000089;
}
.showMore_shoes {
  display: grid;
  align-items: center;
  margin-left: 605px;
  margin-right: 605px;
}

.showMore_shoes > button {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  margin-bottom: 50px;
  border-radius: 6px;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.showMore_shoes > button:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .showMore_shoes > button {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}
